@import '../../../../styles/host-w-full';
@import '../../../../styles/spacing';

.section {
	display: flex;
	align-items: center;

	&--column {
		font-size: small;
		display: flex;
		flex-direction: column;
		align-items: start;
	}
}
