<div class="card">
	<div class="content-app">
		<div class="card__header">
			<p class="card__header--title">Workout</p>

			<app-button
				[width]="'30px'"
				[height]="'30px'"
				[imageSource]="'../../../../../assets/images/plus.png'"
				[imageHeight]="'20px'"
				[imageWidth]="'20px'"
				(buttonClickEvent)="onOpenAddModal()">
			</app-button>
		</div>

		<div class="card__content">
			<ng-container *ngIf="workout; else noExercisesFoundTemplate">
				<div *ngFor="let exercise of workout.exercises">
					<app-exercise [exercise]="exercise"></app-exercise>
				</div>
			</ng-container>

			<ng-template #noExercisesFoundTemplate>
				<div class="no-exercises">No Exercises found.</div>
			</ng-template>
		</div>
	</div>
</div>
