$green: #23CE6B;
$accent-blue: #474677;
$dark-blue: #1a1140;
$dark-dark-blue: #080127;
$light-blue: #c1f8fd;
$light-gray: #f1f1f1;
$light-light-gray: #f8f8f8;
$darker-gray: #d4d4d4;
$pale-blue: #cae1e3;
$pink: #EF476F;

$gap: 16px;
$section-gap: 24px;

$box-shadow: 1px 0px 5px rgb(197, 197, 197);

$filter-white: brightness(0) invert(1);
$filter-animation: filter 0.3s ease-in-out;