@import '../../../../styles/partials/variables';

button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: $light-light-gray;
    background-color: $blue;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid $darker-gray;

    &:not([disabled]):hover {
        filter: brightness(70%);
        transition: $filter-animation;
    }

    &:disabled{
        opacity: 0.4;
        cursor: default;
    }
}