<div class="header">
    <div class="logo">logo</div>
</div>

<div class="container">
    <div class="content">
        <div class="landing-text">
            <h1>Welcome to Calorify!</h1>

            <P>Looking to take control of your diet and fitness goals?</P>
            <P>Look no further than Calorify, the cutting-edge web application designed to help you track your calories, workouts, and macronutrients.</P>
            <P>With Calorify, you'll have all the tools you need to achieve your health goals and live your best life!</P>
        </div>

        <div class="form">
            <app-login-form></app-login-form>
        </div>
    </div>
</div>
