<div class="card">
    <div class="content-app">
        <div class="card__header">
            <p class="card__header--title">Your Daily Summary</p>
        </div>

        <div class="card__content">
            <div class="card__content--item">
                <p>Calories: </p>
                <div class="card__content--item-macros">
                    <p>{{ userDaily?.kcal }}</p>
                    <p> / </p>
                    <p>{{ userTargets.kcal }}</p>
                </div>
            </div>
            
            <div class="card__content--item">
                <p>Protein: </p>
                <div class="card__content--item-macros">
                    <p>{{ userDaily?.protein }} g</p>
                    <p> / </p>
                    <p>{{ userTargets.protein }} g</p>
                </div>
            </div>
            
            <div class="card__content--item">
                <p>Carbs: </p>
                <div class="card__content--item-macros">
                    <p>{{ userDaily?.carbs }} g</p>
                    <p> / </p>
                    <p>{{ userTargets.carbs }} g</p>
                </div>
            </div>
            
            <div class="card__content--item">
                <p>Fats: </p>
                <div class="card__content--item-macros">
                    <p>{{ userDaily?.fats }} g</p>
                    <p> / </p>
                    <p>{{ userTargets.fats }} g</p>
                </div>
            </div>
        </div>
    </div>
</div>
