<div class="container-app">
	<div class="content-app">
		<ng-container *ngIf="isLoadingHistory$ | async; else workoutsTemplate"> Loading... </ng-container>

		<ng-template #workoutsTemplate>
			<div class="controls">
				<app-button
					[buttonText]="'Daily'"
					[buttonColor]="'#474677'"
					[borderColor]="'#474677'"
					[width]="'100px'"
					(buttonClickEvent)="onGoToDaily()">
				</app-button>
			</div>
			<app-card>
				<ng-container title>Workout History</ng-container>
				<ng-container content
					><ng-container *ngIf="allWorkouts$ | async as workouts; else noWorkoutsFoundTemplate">
						<div *ngFor="let workout of workouts">
							<app-workout-history-item [workout]="workout"></app-workout-history-item>
						</div>
					</ng-container>

					<ng-template #noWorkoutsFoundTemplate>
						<div class="no-exercises">No Workouts found.</div>
					</ng-template>
				</ng-container>
			</app-card>
		</ng-template>
	</div>
</div>
