<div class="card">
	<div class="content-app">
		<div class="card__header">
			<p class="card__header--title">Your Weekly Summary</p>
		</div>
		<div class="card__content">
			<div class="card__content-row">
				<app-chart *ngIf="weeklyCaloriesChartData" [chart]="weeklyCaloriesChartData"></app-chart>
			</div>
			<div class="separator-vertical"></div>
			<div class="card__content-row">
				<app-chart *ngIf="weeklyMacrosChartData" [chart]="weeklyMacrosChartData"></app-chart>
			</div>
		</div>
	</div>
</div>
