<div class="modal-header">
    <h5 class="modal-title">Add Exercise</h5>
</div>

<div class="modal-body">
    <app-input [inputLabel]="'Exercise name'" [inputType]="'text'" [inputWidth]="'200px'" 
        [bottomSpace]="true" [passedFormControl]="getNameFormControl">
    </app-input>
    
    <app-input [inputLabel]="'Reps'" [inputType]="'number'" [inputWidth]="'200px'" 
        [bottomSpace]="true" [passedFormControl]="getRepsFormControl">
    </app-input>

    <app-input [inputLabel]="'Load (kg)'" [inputType]="'number'" [inputWidth]="'200px'" 
        [passedFormControl]="getLoadFormControl">
    </app-input>
</div>

<div class="modal-footer">
    <app-button [buttonText]="'Add'" [width]="'60px'" (buttonClickEvent)="onAddExercise()" [isDisabled]="exerciseForm.status !== 'VALID'"></app-button>
    <app-button [buttonText]="'Cancel'" [width]="'100px'" [buttonColor]="'#EF476F'" (buttonClickEvent)="close()"></app-button>
</div>
