@import '../../../../styles/partials/card';
@import '../../../../styles/partials/variables';
@import '../../../../styles/partials/separator';

.card {
	&__header {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		outline: 1px solid $dark-blue;
		box-shadow: $box-shadow;
		background-color: $dark-blue;
		padding: $small-gap;

		&--title {
			color: white;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		padding: $gap;
		width: 100%;
		flex-wrap: wrap;

		&-column {
			display: flex;
			gap: $small-gap;
			flex-direction: column;
			justify-content: center;

			&--item {
				width: 300px;
				display: flex;
				justify-content: space-between;

				&-macros {
					width: 100px;
					display: flex;
					justify-content: space-between;
				}
			}
		}

		&-row {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;

			> * {
				max-width: 160px;
				max-height: 140px;
			}
		}
	}
}
