<div class="card">
	<div class="content-app">
		<div class="card__header">
			<p class="card__header--title">Your Daily Summary</p>
		</div>

		<div class="card__content">
			<div class="card__content-column">
				<div class="card__content-column--item">
					<p>Calories:</p>
					<div class="card__content-column--item-macros">
						<p>{{ userDaily?.kcal }}</p>
						<p>/</p>
						<p>{{ userNeeds.kcal }}</p>
					</div>
				</div>

				<div class="card__content-column--item">
					<p>Protein:</p>
					<div class="card__content-column--item-macros">
						<p>{{ userDaily?.protein }} g</p>
						<p>/</p>
						<p>{{ userNeeds.protein }} g</p>
					</div>
				</div>

				<div class="card__content-column--item">
					<p>Carbs:</p>
					<div class="card__content-column--item-macros">
						<p>{{ userDaily?.carbs }} g</p>
						<p>/</p>
						<p>{{ userNeeds.carbs }} g</p>
					</div>
				</div>

				<div class="card__content-column--item">
					<p>Fats:</p>
					<div class="card__content-column--item-macros">
						<p>{{ userDaily?.fats }} g</p>
						<p>/</p>
						<p>{{ userNeeds.fats }} g</p>
					</div>
				</div>
			</div>

			<div class="card__content-row">
				<app-chart *ngIf="dailyCaloriesChart" [chart]="dailyCaloriesChart"></app-chart>
				<div class="separator-vertical"></div>
				<app-chart *ngFor="let macroChart of dailyMacroCharts" [chart]="macroChart"></app-chart>
			</div>
		</div>
	</div>
</div>
