@import '../../../../styles/partials/card';
@import '../../../../styles/partials/variables';

.card {
	&__header {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		outline: 1px solid $dark-blue;
		box-shadow: $box-shadow;
		background-color: $dark-blue;

		&--title {
			color: white;
			margin-left: $small-gap;
		}

		:nth-child(2) {
			margin-right: $small-gap;
		}
	}

	&__content {
		padding: $gap;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&--item {
			width: 300px;
			display: flex;
			justify-content: space-between;
			margin-bottom: $small-gap;
			margin-top: $small-gap;

			&-macros {
				width: 100px;
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
