@import '../../../../styles/partials/variables';

:host {
    width: 90%;
}

.form {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    
    * {
        margin-bottom: $gap;
    }
}