<div class="container-app">
	<div class="content-app">
		<ng-container *ngIf="isLoading$ | async; else mealsTemplate"> Loading... </ng-container>

		<ng-template #mealsTemplate>
			<div class="controls">
				<app-button
					[buttonText]="'History'"
					[buttonColor]="'#474677'"
					[borderColor]="'#474677'"
					[width]="'100px'"
					(buttonClickEvent)="onGoToHistory()">
				</app-button>
				<app-button [buttonText]="'Add Food'" [width]="'100px'"> </app-button>
			</div>

			<app-meal [mealName]="'Breakfast'" [meals]="breakfastMeals$ | async"></app-meal>

			<app-meal [mealName]="'Lunch'" [meals]="lunchMeals$ | async"></app-meal>

			<app-meal [mealName]="'Dinner'" [meals]="dinnerMeals$ | async"></app-meal>
		</ng-template>
	</div>
</div>
